#burger-menu {
  position: absolute;
  top: 3%;
  right: 5%;
  overflow: visible;
  z-index:2;
  cursor: pointer;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {

  background: black;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  position: fixed;
  top: 3%;
  right: 5%;
  width: 27px;
  border-radius: 25%;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
  border-radius: 25%;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
  border-radius: 25%;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span:after {
  top: 0px;
  left:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background:rgba(0,0,0,0.5);
}

#menu li{
  list-style:none;
}

#menu a{
  color:var(--title-text-color);
  display:block;
  font-size: 32px;
  margin-bottom:30px;
  text-decoration:none;
  &:hover{
    color: var(--accent-color);
  }
}

.burger-menu__icon{
fill: #fae6e6;
}