.hero {
  position: relative;
}

.hero__title {
  position: absolute;
  top: 39%;
  left: 30%;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  background-color: var(--shadow-background-color);
  box-shadow: 10px 10px 10px var(--shadow-color);

  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
  }
}

.hero__title_name {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 15px;
  @media screen and (max-width: 479px) {
    font-size: 20px;
  }
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 35px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 60px;
  }
}

.hero__title_prof {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin-bottom: 15px;
  @media screen and (max-width: 479px) {
    font-size: 15px;
  }
  @media screen and (min-width: 480px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) {
    font-size: 35px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 50px;
  }
}

.hero__title_citat {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: var(--title-text-color);
  @media screen and (max-width: 479px) {
    font-size: 10px;
  }
  @media screen and (min-width: 480px) {
    font-size: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 40px;
  }
}

.hero_master {
  width: 100%;

  @media screen and (max-width: 479px) {
  }
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
