body{
  background-color: rgb(154, 78, 174, 0.7);
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (max-width: 479px) {
      width: 100%;
      padding: 0px 10px 20px 10px;
    }

    @media screen and (min-width: 480px) {
      padding: 0px 10px 30px 10px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      padding: 0px 34px 60px 34px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0px 34px 60px 34px;
    }
  }

